body {
  margin:0px;
  padding:0px;
}

#turn {
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background-color:white;
  background-image:url('../assets/portraitBlanco.png');
  background-repeat:no-repeat;
  background-position: center center;
  display:none;
}

canvas {
  box-sizing: border-box;
  border: 2px solid red;
}